
<html>
<body>

<h4>Log analyse for backend: </h4>
<table border="1">
    <tr bgcolor=#6A5ACD>
        <td width="100">RT</td>
        <td width="100">TIMES</td>
        <td width="100">PERCENT</td>
    </tr>
    <tr>
        <td width="100">0~50ms   </td>
        <td width="100">963</td>
        <td width="100">48.1500%</td>
    </tr>
    <tr>
        <td width="100">50~150ms </td>
        <td width="100">504</td>
        <td width="100">25.2000%</td>
    </tr>
    <tr>
        <td width="100">150~300ms</td>
        <td width="100">396</td>
        <td width="100">19.8000%</td>
    </tr>
    <tr>
        <td width="100">>300ms   </td>
        <td width="100">137</td>
        <td width="100">6.8500%</td>
    </tr>
    <tr bgcolor=#6A5ACD>
        <td width="100">CODE</td>
        <td width="100">TIMES</td>
        <td width="100">PERCENT</td>
    </tr>
    <tr>
        <td width="100">200</td>
        <td width="100">1565</td>
        <td width="100">78.2500%</td>
    </tr>
    <tr>
        <td width="100">302</td>
        <td width="100">136</td>
        <td width="100">6.8000%</td>
    </tr>
    <tr>
        <td width="100">404</td>
        <td width="100">2</td>
        <td width="100">0.1000%</td>
    </tr>
    <tr>
        <td width="100">304</td>
        <td width="100">290</td>
        <td width="100">14.5000%</td>
    </tr>
    <tr>
        <td width="100">403</td>
        <td width="100">7</td>
        <td width="100">0.3500%</td>
    </tr>
</table>
<h4>Log analyse for corporate: </h4>
<table border="1">
    <tr bgcolor=#6A5ACD>
        <td width="100">RT</td>
        <td width="100">TIMES</td>
        <td width="100">PERCENT</td>
    </tr>
    <tr>
        <td width="100">0~50ms   </td>
        <td width="100">1998</td>
        <td width="100">99.9000%</td>
    </tr>
    <tr>
        <td width="100">50~150ms </td>
        <td width="100">2</td>
        <td width="100">0.1000%</td>
    </tr>
    <tr>
        <td width="100">150~300ms</td>
        <td width="100">0</td>
        <td width="100">0.0000%</td>
    </tr>
    <tr>
        <td width="100">>300ms   </td>
        <td width="100">0</td>
        <td width="100">0.0000%</td>
    </tr>
    <tr bgcolor=#6A5ACD>
        <td width="100">CODE</td>
        <td width="100">TIMES</td>
        <td width="100">PERCENT</td>
    </tr>
    <tr>
        <td width="100">200</td>
        <td width="100">1805</td>
        <td width="100">90.2500%</td>
    </tr>
    <tr>
        <td width="100">302</td>
        <td width="100">20</td>
        <td width="100">1.0000%</td>
    </tr>
    <tr>
        <td width="100">400</td>
        <td width="100">1</td>
        <td width="100">0.0500%</td>
    </tr>
    <tr>
        <td width="100">408</td>
        <td width="100">174</td>
        <td width="100">8.7000%</td>
    </tr>
</table>

</body>
</html>

